SECRET_KEY=change-me
POSTGRES_DB=teacher_cabinet
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_SERVER=db
POSTGRES_PORT=5432
BACKEND_CORS_ORIGINS=http://cabinet.gorlkts.ru,http://111.88.242.98:3000,http://localhost:3000,http://127.0.0.1:3000
INTERNAL_BACKEND_URL=http://backend:8000
